@model IEnumerable<Mooshak26.Models.ViewModels.AssignmentViewModel>



@{
    ViewBag.Title = "StudentMainPage";
}
<div class="row">
   <!-- foreach (var item in Model)
    { 
        
       // <div class="col - sm - 4">Html.ActionLink("Course1", "edit", "",)</nav>
       // TODO: action in (controller) to find courses linked to userID
      
    }-->
</div>
<div>
    <button type="button" class="btn btn-primary btn-lg">Course</button>
    <button type="button" class="btn btn-primary btn-lg">Course</button>
    <button type="button" class="btn btn-primary btn-lg">Course</button>
    <button type="button" class="btn btn-primary btn-lg">Course</button>
    <button type="button" class="btn btn-primary btn-lg">Course</button>
</div>
<div class="list-group">
    <a href="#" class="list-group-item active">Assignment 1</a>
    <a href="#" class="list-group-item">Assignment 2</a>
    <a href="#" class="list-group-item">Assignment 3</a>
</div>
<div class="assignments">
    <p>@Html.DisplayFor(model => model.)</p>
</div>



